@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #bcb1ac;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration:none;
  color: black;
}

/* The rules for the desktop navbar begin here */
/* The logo is centered and a margin assigned */
header[role="banner"] #logo-main {
  display: block;
  margin: 10px auto;
  align-content: center;
}
/* The background leaves rounded corners if not transparent, padding sharpens it */
#navbar-primary {
  background: transparent;
  padding: 0 2% 0 2%;
  border: none;
}
/* The font family is defined to override global styles */
#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  font-family: 'PT Serif', serif;
  color:#000;
}

#navbar-primary.navbar-default .navbar-nav>li {
  display: inline-block;
  float: none;
}

#navbar-primary.navbar-default .navbar-nav>li>a {
  padding-left: 0px;
  padding-right: 0px;
}
/* gradient defined for a variety of web browsers */
.navbar-nav {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#4f3727), to(white));
  background-image: -webkit-linear-gradient(top, #fff, #7b6b63, #574232, #4f3727, #4f3727, #4f3727,#574232,#7b6b63, #fff);
  background-image: -moz-linear-gradient(top, #fff, #7b6b63, #574232, #4f3727, #4f3727, #4f3727,#574232,#7b6b63, #fff);
  /* background-image: linear-gradient(to left, #fff, #86746c, #7b6b63,#504540, #504540,#504540,#7b6b63, #86746c, #fff); */
  background-image: linear-gradient(to left, #fff, #7b6b63, #574232, #4f3727, #4f3727, #4f3727,#574232,#7b6b63, #fff);
  height: 61px;
  color: #000;
  white-space: nowrap;
  position: flex;
}

.dropdown:focus {
  border: 20px solid #000;
}

.navvy {
  color: black;
  margin: 0 5px 0 5px;
  text-align: center;
}

nav{
  font-size: 1.6em;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

#navImg{
  align-content: center;
}

/* Dropdown Button */

.dropbtn {
  background-color: transparent;
  color: #000;
  font-size: 1em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  margin: 6px 12px;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom:1px;
  margin-top: 10px;

}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 10;
  background-image: linear-gradient(to bottom,#4f3727, #bcb1ac);
  margin-left: -4px;
  margin-top: 2px;
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 0 5px 0 5px;
  display: block;
  font-size: .9em;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: transparent;
}

ul {
  border: none;
}
/* this is where the rules for the footer are defined, :flex keeps the footer at the bottom */

footer {
  text-align: center;
  font-size: 1.4em;
  position: flex;
  margin-top: 10px;
  margin-bottom: -10px;
  width: 100%;
  height: 40px;
  color: #3b2314;
}
/* Rules for mobile navbar begin here */
/* Bootstrap pill strategy used */
.pillz {
  color: #000;
  margin: 0 -1.5% 0 0;
}
/* Gradient is different when compared to desktop */
.chillz {
  background-image: linear-gradient(to right, #5B361F, #5B361F, #5B361F, #5B361F, #5B361F, #5B361F, #5B361F, #fff);
  margin-left:2%;
}

.nav-pills>.active>a,
.nav-pills>.active>a:hover {
  background-color: transparent;
}
/* Mobile dropdown requires clicking, as hover is disabled */
.dropdown-menu{
  background-image: linear-gradient(to bottom, #4f3727, #fff);
}

#mobileNav {
  display: inline-block;
}

/* Varying screen widths cause problems, media queries can resolve them */
/* Negative margin values pull pills together to better fit screens without adding a new row */
/* max-width 340 catches extremely small widths, like iPhone5 */
@media screen and (max-width:340px) {
  .pillz {
    margin-left: -3%;
    margin-right: -3%;
    color: #000;
  }
  .pillz a {
    color: #000;
  }
}
/* Many devices fit this category */
@media screen and (max-width:380px) {
  .pillz {
    margin-left: -2%;
  }
  .pillz a {
    color: #000;
  }
}
/* 420 pixel width catches many more mobile devices */
@media screen and (max-width:420px) {
  .pillz {
    margin-left: -3%;
    /* margin-right: -3%; */
    color: #000;
  }
  .pillz a {
    color: #000;
  }
}
